arch=x64
platform=linux
registry=https://npm.shlab.tech/
@label-u:registry=https://npm.shlab.tech/
@shlab:registry=https://npm.shlab.tech/
# @sentry:registry=https://registry.npmjs.com/
sentrycli_cdnurl=https://cdn.npm.taobao.org/dist/sentry-cli
SENTRYCLI_CDNURL=https://cdn.npm.taobao.org/dist/sentry-cli
