@font-face {
  font-family: 'iconfont'; /* Project id 3732290 */
  src: url('font/iconfont.woff2?t=1715397083542') format('woff2'),
    url('font/iconfont.woff?t=1715397083542') format('woff'),
    url('font/iconfont.ttf?t=1715397083542') format('truetype'),
    url('font/iconfont.svg?t=1715397083542#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shujukeshihuayufenxi:before {
  content: '\e662';
}

.icon-shujubiaozhu:before {
  content: '\e663';
}

.icon-shujuchouqu:before {
  content: '\e660';
}

.icon-shujuqingxi:before {
  content: '\e661';
}

.icon-shuoming:before {
  content: '\e65f';
}

.icon-yuanti:before {
  content: '\e65e';
}

.icon-cebianchoutishouqi:before {
  content: '\e65d';
}

.icon-qianwang:before {
  content: '\e65c';
}

.icon-yonghumingdan:before {
  content: '\e65b';
}

.icon-shaixuan:before {
  content: '\e659';
}

.icon-shezhi:before {
  content: '\e65a';
}

.icon-gengduoshujufenxi:before {
  content: '\e658';
}

.icon-biaoqianpeizhi:before {
  content: '\e653';
}

.icon-shujufenxi:before {
  content: '\e654';
}

.icon-a-yonghuduanyunyingduan:before {
  content: '\e655';
}

.icon-shujuguanli:before {
  content: '\e656';
}

.icon-renyuanguanli:before {
  content: '\e657';
}

.icon-chajian:before {
  content: '\e652';
}

.icon-fuzhi:before {
  content: '\e651';
}

.icon-timu:before {
  content: '\e650';
}

.icon-xitongtishi:before {
  content: '\e639';
}

.icon-xiaochangjingshanchu:before {
  content: '\e63a';
}

.icon-yulan:before {
  content: '\e63b';
}

.icon-xiala:before {
  content: '\e63c';
}

.icon-shili:before {
  content: '\e63d';
}

.icon-yonghuguanli:before {
  content: '\e63e';
}

.icon-tuichu:before {
  content: '\e63f';
}

.icon-xinxitishi:before {
  content: '\e640';
}

.icon-shangchuan:before {
  content: '\e641';
}

.icon-xitongcuowu:before {
  content: '\e642';
}

.icon-gerenzhongxin:before {
  content: '\e643';
}

.icon-morenzhi:before {
  content: '\e644';
}

.icon-tianjia:before {
  content: '\e645';
}

.icon-xitongjinggao:before {
  content: '\e646';
}

.icon-gengduo:before {
  content: '\e647';
}

.icon-bianji:before {
  content: '\e648';
}

.icon-xitongchenggong:before {
  content: '\e649';
}

.icon-qiehuan:before {
  content: '\e64a';
}

.icon-daochu:before {
  content: '\e64b';
}

.icon-tishi:before {
  content: '\e64c';
}

.icon-shanchu:before {
  content: '\e64d';
}

.icon-renwuguanli:before {
  content: '\e64e';
}

.icon-wenjian:before {
  content: '\e64f';
}
